.direnv

code-server/*
!code-server/docker-compose.yml

filebrowser/*
!filebrowser/docker-compose.yml

freshrss/*
!freshrss/docker-compose.yml

homeassistant/*
!homeassistant/docker-compose.yml

jellyfin/*
!jellyfin/docker-compose.yml

linkwarden/*
!linkwarden/docker-compose.yml
 
nfs-server/*
!nfs-server/docker-compose.yml

page/config/logs/*

portainer/*
!portainer/docker-compose.yml

qbittorrent/*
!qbittorrent/docker-compose.yml

samba/*
!samba/docker-compose.yml

stirlingPDF/*
!stirlingPDF/docker-compose.yml

vaultwarden/*
!vaultwarden/docker-compose.yml

wireguard/*
!wireguard/docker-compose.yml
!wireguard/wireguard-linuxserver.yml

immich/*
!immich/docker-compose.yml

calibre/*
!calibre/docker-compose.yml

kavita/*
!kavita/docker-compose.yml

paperless-ngx/*
!paperless-ngx/docker-compose.yml

pihole/*
!pihole/docker-compose.yml

resticbackup/*
!resticbackup/docker-compose.yml

syncthing/*
!syncthing/docker-compose.yml

traefik/*
!traefik/docker-compose.yml

